@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

/* Scroll bar */

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: midnightblue;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(126, 83, 83);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(179, 118, 118);
}

html {
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
}

body {
	font-family: "Noto Sans JP", sans-serif;
	padding: 0;
	margin: 0;
	background-color: seashell;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

@media (min-width: 1300px) {
	.container {
		width: 1260px;
	}
}

@media (min-width: 1400px) {
	.container {
		width: 1360px;
	}
}

@media (min-width: 1500px) {
	.container {
		width: 1460px;
	}
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.btn {
	padding: 8px 10px;
	background-color: moccasin;
	color: midnightblue;
	border-radius: 10px;
	font-weight: 600;
	display: inline-block;
	border: none;
	font-size: 1rem;
	transition: all 0.3s ease;
	line-height: 1;
}

.btn:hover {
	background-color: springgreen;
	color: black;
	opacity: 1 !important;
	cursor: pointer;
}

.btn:disabled {
	pointer-events: none;
	opacity: 0.5;
}

input:focus {
	outline: none;
}

/* Header Styles */

header {
	background-color: midnightblue;
}

header .inner-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
}

header a {
	color: white;
}

header .brand a {
	font-weight: 700;
	font-size: 1.5rem;
	text-decoration: none;
}

header .nav-links {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.nav-links a {
	text-decoration: none;
	font-size: 1.25rem;
	transition: all 0.3s ease;
	margin-right: 30px;
}

.nav-links a:last-child {
	margin-right: 0;
}

.nav-links a:hover {
	opacity: 0.7;
}

/* Add Page */
.add-content {
	padding: 50px 15px;
	max-width: 700px;
	margin: 0 auto;
}

.add-content .input-wrapper {
	overflow: inherit;
}

.add-content .input-wrapper input {
	width: 100%;
	background-color: midnightblue;
	padding: 10px;
	border-radius: 10px;
	border: none;
	color: white;
	font-size: 1.25rem;
	box-shadow: 0 0 9px 3px #54576e;
}

.results {
	padding: 0;
	margin: 0;
	margin-top: 30px;
}

.result-card {
	display: flex;
	margin-bottom: 20px;
}

.result-card .poster-wrapper img,
.filler-poster {
	width: 110px;
	height: 160px;
	background-color: #dbdada;
	border-radius: 10px;
	margin-right: 20px;
	display: block;
}

.result-card .info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.result-card .info .title {
	font-size: 16px;
	color: midnightblue;
	font-weight: 600;
	margin: 0;
}

.result-details {
	display: flex;
	margin-top: 10px;
}

.result-card .info .result-details * {
	font-size: 16px;
	font-weight: 300;
	color: midnightblue;
	margin: 0;
}

.result-type {
	text-transform: uppercase;
}

.result-card .controls .btn {
	margin-right: 10px;
	text-transform: uppercase;
}

/* Media Page */
.media-page {
	padding: 30px 0;
}

.media-page .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
	font-size: 0.8rem;
}

.count-pill {
	display: none;
	background-color: springgreen;
	padding: 5px 10px;
	font-size: 0.9rem;
	font-weight: 600;
	border-radius: 999px;
	color: midnightblue;
}

.media-page .heading {
	color: midnightblue;
	margin: 0;
}

.media-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
}

@media (min-width: 992px) {
	.media-grid {
		grid-template-columns: repeat(5, 1fr);
	}
	.media-page .header {
		font-size: 1rem;
	}
}

@media (min-width: 690px) {
	.media-page .header {
		font-size: 0.9rem;
	}
	.count-pill {
		font-size: 1.125rem;
	}
}

@media (min-width: 580px) {
	.count-pill {
		display: block;
	}
}

.media-card {
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	border: 0;
	display: block;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.media-card:hover {
	box-shadow: 0 0 9px 3px #54576e;
}

.media-card img {
	width: 100%;
	height: 100%;
	display: block;
}

.media-card .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid transparent;
	transition: all 0.3s ease;
}

.media-card .inner-card-controls {
	display: inline;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(25, 25, 112, 0.8);
	border-radius: 10px;
	padding: 3px;
	opacity: 0;
	transition: all 0.3s ease;
}

.media-card:hover .inner-card-controls {
	opacity: 1;
}

.ctrl-btn {
	color: #fefefe;
	background-color: transparent;
	border: none;
	transition: all 0.3s ease;
	font-size: 1rem;
	padding: 5px;
	margin: 0;
}

@media (min-width: 556px) {
	.ctrl-btn {
		font-size: 1.25rem;
	}
}

.ctrl-btn:hover {
	color: springgreen;
	cursor: pointer;
}

.media-page .no-media {
	color: #838383;
	font-size: 3rem;
	text-align: center;
}
